
<div class="cover mb-4 d-flex align-items-center justify-content-center">
    <h1> Choisissez votre Baby Buggy</h1>
</div>


<%# <div class="intro_prod">
    <h2>Nous proposons un système de réservation simple et pratique pour tous !
        Il suffit de choisir le siège-auto ou la poussette qui correspond à l'âge de votre enfant et le
        lieu de votre retrait.</h2>
    <br/>
</div> %>

<div class="container grid produit text-center">

  <% @products.each do |product| %>
    <div class="card g-col-6">
      <p> Votre <%= product.category.product_name %>  <%= product.marque %> à partir de <%= product.prix_par_jour %>€/jour. </p>
      <%= link_to "Louer", product_path(product), class: "btn_louer mb-5 m-auto"%>
      <%= image_tag "poussette-familib-bumbleride.jpg", class: "mt-2 d-block" %>
    </div>
  <% end %>
</div>
