
<%# <% @products.each do |product| %>
  <%# <%= product.marque  %>
<%# <% end %>

<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Our Products </h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Products</h3>
    <%= link_to "Create a product", new_product_path, class: "btn btn-flat" %>
  </div>
  <div class="row">
    <% @products.each do |product| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to product_path(product), class:"text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
            <%= product.category.product_name %>
            <p><%= product.marque %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!doctype html>
<html lang="fr">
<head>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title> Location poussettes et siège auto </title>
    <link rel="stylesheet" href="style.scss">
    <link rel="stylesheet" type="text/css" media="all" href="https://www.location-de-poussette.fr/css/main_style.css?ver=2.8"/>
    <script type="text/javascript" src="https://www.location-de-poussette.fr/js/fastclick.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://www.location-de-poussette.fr/js/jquery.ui.datepicker-fr.js"></script>
    <script src="https://www.location-de-poussette.fr/js/jquery-ui.multidatespicker.js"></script>

    <script type="text/javascript" src="https://www.location-de-poussette.fr/js/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script type="text/javascript" src="https://www.location-de-poussette.fr/js/url.min.js"></script>
    <script type="text/javascript" src="https://www.location-de-poussette.fr/js/script.js?v=0.0.2"></script>
    <script type="text/javascript" src="https://www.location-de-poussette.fr//js/unslider-min.js"></script>

    <script type="text/javascript" src="https://www.location-de-poussette.fr/js/markerwithlabel_packed.js"></script>
    <script type="text/javascript" src="https://www.location-de-poussette.fr/js/infobubble_patched.js"></script>

    <script type="application/javascript">
    $(document).ready(function() {
        formReady('.quickGo');
    });
    function goLoc() {
        var goTo = $('#goLocSelect').val();
        window.location.assign(goTo);
    }
    </script>

</head>
<body>
    <div class="contentmov">
        <div class="strc loc">
            <div class="ctn">
                <div class="entete">
                    <div class="titre"></div>
                    <%# <div class="quickGo">
                        <select class="selectTyp3" onChange="javascript:$(location).attr('href',this.value);">
                            <option value="">Je choisis mon produit</option>
                            <option value="" selected>Location siège auto </option>
                            <option value="">Location poussette</option>
                        </select>
                    </div> %>
                </div>
                <div class="intro_prod">
                    		<h2>Nous proposons un système de réservation simple et pratique pour tous !
                        Il suffit de choisir le siège-auto ou la poussette qui correspond à l'âge de votre enfant et le
                         lieu de votre retrait.</h2>
                    <br/>
                </div>

                <div class="prodloc">
                  <div class="item">
                        <div class="mask"></div>
                        <a href="" class="titre">Siège auto Joie de 0 à 10 ans.</a>
                        <div class="apartir"> à partir de</div>
                        <a href="" class="prix">
                            2.90
                            <sup>€</sup>
                            /jour
                        </a>
                        <a href="" class="accroche">Location siège auto ISOFIX - Joie</a>
                        <a href="" class="photo">
                            <img src="https://www.location-de-poussette.fr/photos/m/location-siege-auto-2.jpg">
                        </a>

                    </div>
                    <div class="item">
                        <div class="mask"></div>
                        <a href="" class="titre">Siège auto bébé Britax.</a>
                        <div class="apartir"> à partir de</div>
                        <a href="" class="prix">
                            2.74
                            <sup>€</sup>
                            /jour
                        </a>
                        <a href="" class="accroche">Location siège auto de la naissance à 4 ans.</a>
                        <a href="" class="photo">
                            <img src="https://www.location-de-poussette.fr/photos/m/location-siege-auto-bnnbnn-britax-2.png">
                        </a>

                    </div>
                    <div class="item">
                        <div class="mask"></div>
                        <a href="" class="titre">siège auto enfant Britax 9 mois à 10 ans.</a>
                        <div class="apartir"> à partir de</div>
                        <a href="" class="prix">
                            2.74
                            <sup>€</sup>
                            /jour
                        </a>
                        <a href="" class="accroche">Location siège auto ISOFIX.</a>
                        <a href="" class="photo">
                            <img src="https://www.location-de-poussette.fr/photos/m/location_siege_auto-enfant-britax-7-1.jpg">
                        </a>

                    </div>
                    <div class="item">
                        <div class="mask"></div>
                        <a href="" class="titre">Siège auto Joie de 0 à 10 ans.</a>
                        <div class="apartir"> à partir de</div>
                        <a href="" class="prix">
                            2.90
                            <sup>€</sup>
                            /jour
                        </a>
                        <a href="" class="accroche">Location siège auto ISOFIX - Joie</a>
                        <a href="" class="photo">
                            <img src="https://www.location-de-poussette.fr/photos/m/location-siege-auto-2.jpg">
                        </a>

                    </div>
                    <div class="item">
                        <div class="mask"></div>
                        <a href="" class="titre">Siège auto Joie Steadi.</a>
                        <div class="apartir"> à partir de</div>
                        <a href="" class="prix">
                            2.74
                            <sup>€</sup>
                            /jour
                        </a>
                        <a href="" class="accroche">Location siège auto de la naissance à 4 ans. </a>
                        <a href="" class="photo">
                            <img src="https://www.location-de-poussette.fr/photos/m/location_siege_auto_steadi_familib_1.jpg">
                        </a>

                    </div>
                </div>

            </div>
        </div>

    </div>
    </body>
    <footer>
    <div class="strc footer">
        <div class="ctn">
            <div class="blocks">

                <div class="blk">
                    <div class="titre">
                            Service client        </div>

                    <div class="item">
                        <a href="" title="Avez-vos des questions ?">Avez-vos des questions ?</a>
                    </div>

                    <div class="item">
                        <a href="" title="Pourquoi louer ?">Pourquoi louer ?</a>
                    </div>

                    <div class="item">
                        <a href="" title="Location poussettes.">Location poussettes.</a>
                    </div>

                    <div class="item">
                        <a href="" title="Location siège auto.">Location siège auto.</a>
                    </div>

                </div>

                <div class="blk">
                    <div class="titre">
                                Suivez-nous :
                                </div>

                    <div class="fooButtons">
                        <a href="https://www.facebook.com" target="_blank">&#xF09A;</a>
                        <a href="https://www.youtube.com" target="_blank">&#xF167;</a>
                        <a href="https://www.instagram.com" target="_blank">&#xF16D;</a>
                    </div>

                    <div class="titrenews">
                        <b>Restés informés !</b>
                        <br/> Pour recevoir nos infos :

                    </div>
                    <div class="subscribe">
                        <form method="post" name="newsletter" id="newsl" action="addnews.php" enctype="multipart/form-data">
                            <input type="text" name="email" value="mon email" onFocus="this.value='';">
                            </input>
                            <input type="submit" name="valid" class="btn"> Inscription </input>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="goUp" id="goUp">
        <a href="javascript:smoothScroll('body');">
            <span>&#xE807;</span>
            <br>
            HAUT
        </a>
    </div>

    <script>
    </script>
</footer>
</html>
