
<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Our Products </h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Products</h3>
    <%= link_to "Create a product", new_product_path, class: "btn btn-flat" %>
  </div>
  <div class="row">
    <div class="prodloc">
      <% @products.each do |product| %>
        <div class="item">
        <div class="mask"></div>
          <div class="title">
          <%= product.category.product_name %><%= product.marque %>
          </div>
          <div class="apartir"> à partir de</div>
          <%= product.prix_par_jour %>
          <sup>€</sup>/jour
          <%= link_to "Location", product_path(product) %>
            <div class="photo">
              <%= image_tag product.product_photo %>
            </div>
            <%= product.city %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!doctype html>
<html lang="fr">
<head>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title> Location poussettes et siège auto </title>
    <link rel="stylesheet" type="text/css" media="all" href="https://www.location-de-poussette.fr/css/main_style.css?ver=2.8"/>
    <script type="text/javascript" src="https://www.location-de-poussette.fr/js/fastclick.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <%# <script src="https://www.location-de-poussette.fr/js/jquery.ui.datepicker-fr.js"></script> %>
    <%# <script src="https://www.location-de-poussette.fr/js/jquery-ui.multidatespicker.js"></script> %>

    <script type="text/javascript" src="https://www.location-de-poussette.fr/js/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script type="text/javascript" src="https://www.location-de-poussette.fr/js/url.min.js"></script>
    <script type="text/javascript" src="https://www.location-de-poussette.fr/js/script.js?v=0.0.2"></script>
    <script type="text/javascript" src="https://www.location-de-poussette.fr//js/unslider-min.js"></script>

    <%# <script type="text/javascript" src="https://www.location-de-poussette.fr/js/markerwithlabel_packed.js"></script> %>
    <%# <script type="text/javascript" src="https://www.location-de-poussette.fr/js/infobubble_patched.js"></script>

</head>
<body>
    <div class="contentmov">
        <div class="strc loc">
            <div class="ctn">
                <div class="entete">
                    <div class="titre"></div>
                    <%# <div class="quickGo">
                        <select class="selectTyp3" onChange="javascript:$(location).attr('href',this.value);">
                            <option value="">Je choisis mon produit</option>
                            <option value="" selected>Location siège auto </option>
                            <option value="">Location poussette</option>
                        </select>
                    </div> %>
                </div>
                <div class="intro_prod">
                    <h2>Nous proposons un système de réservation simple et pratique pour tous !
                        Il suffit de choisir le siège-auto ou la poussette qui correspond à l'âge de votre enfant et le
                        lieu de votre retrait.</h2>
                    <br/>
                </div>

                <div class= "products">

                </div>

                <%# <div class="prodloc">
                  <div class="item">

                        <div class="mask"></div>
                        <a href="" class="titre">Siège auto Joie de 0 à 10 ans.</a>
                        <div class="apartir"> à partir de</div>
                        <a href="" class="prix">
                            2.90
                            <sup>€</sup>
                            /jour
                        </a>
                        <a href="" class="accroche">Location siège auto ISOFIX - Joie</a>
                        <a href="" class="photo">
                            <img src="https://www.location-de-poussette.fr/photos/m/location-siege-auto-2.jpg">
                        </a>

                    </div>
                    <div class="item">
                        <div class="mask"></div>
                        <a href="" class="titre">Siège auto bébé Britax.</a>
                        <div class="apartir"> à partir de</div>
                        <a href="" class="prix">
                            2.74
                            <sup>€</sup>
                            /jour
                        </a>
                        <a href="" class="accroche">Location siège auto de la naissance à 4 ans.</a>
                        <a href="" class="photo">
                            <img src="https://www.location-de-poussette.fr/photos/m/location-siege-auto-bnnbnn-britax-2.png">
                        </a>

                    </div>
                    <div class="item">
                        <div class="mask"></div>
                        <a href="" class="titre">siège auto enfant Britax 9 mois à 10 ans.</a>
                        <div class="apartir"> à partir de</div>
                        <a href="" class="prix">
                            2.74
                            <sup>€</sup>
                            /jour
                        </a>
                        <a href="" class="accroche">Location siège auto ISOFIX.</a>
                        <a href="" class="photo">
                            <img src="https://www.location-de-poussette.fr/photos/m/location_siege_auto-enfant-britax-7-1.jpg">
                        </a>

                    </div>
                    <div class="item">
                        <div class="mask"></div>
                        <a href="" class="titre">Siège auto Joie de 0 à 10 ans.</a>
                        <div class="apartir"> à partir de</div>
                        <a href="" class="prix">
                            2.90
                            <sup>€</sup>
                            /jour
                        </a>
                        <a href="" class="accroche">Location siège auto ISOFIX - Joie</a>
                        <a href="" class="photo">
                            <img src="https://www.location-de-poussette.fr/photos/m/location-siege-auto-2.jpg">
                        </a>

                    </div>
                    <div class="item">
                        <div class="mask"></div>
                        <a href="" class="titre">Siège auto Joie Steadi.</a>
                        <div class="apartir"> à partir de</div>
                        <a href="" class="prix">
                            2.74
                            <sup>€</sup>
                            /jour
                        </a>
                        <a href="" class="accroche">Location siège auto de la naissance à 4 ans. </a>
                        <a href="" class="photo">
                            <img src="https://www.location-de-poussette.fr/photos/m/location_siege_auto_steadi_familib_1.jpg">
                        </a>

                    </div>
                </div> %>

            </div>
        </div>

    </div>
    </body>
</html>
