<h1>New product</h1>

<p><strong>category id: </strong><%= @product.category_id %></p>
<p><strong>number of place: </strong><%= @product.number_of_place %></p>
<p><strong>weight: </strong><%= @product.weight %></p>
<p><strong>age_of_product: </strong><%= @product.age_of_product %></p>
<p><strong>category id: </strong><%= @product.details %></p>
<p><strong>child_weight: </strong><%= @product.child_weight %></p>
<p><strong>marque: </strong><%= @product.marque %></p>
<p><strong>color: </strong><%= @product.color %></p>
<p><strong>prix_par_jour: </strong><%= @product.prix_par_jour %></p>
<p><strong>rating: </strong><%= @product.rating %></p>
<input class="btn btn-primary" type="submit" value="Submit">


<form>
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3">
    </div>
  </div>
  <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
        <label class="form-check-label" for="gridRadios1">
          First radio
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        <label class="form-check-label" for="gridRadios2">
          Second radio
        </label>
      </div>
      <div class="form-check disabled">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
        <label class="form-check-label" for="gridRadios3">
          Third disabled radio
        </label>
      </div>
    </div>
  </fieldset>
  <div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Example checkbox
        </label>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
